html {
    font-size: 100px;
}
body{
    font-size: 20px;
}

li{
    list-style: none;
}
*{
    padding:0;
    margin: 0;
}
.marleft{
    margin-left: 0.3rem;
}
.marright{
    margin-right:0.3rem;
}
a{
    text-decoration: none;
    -webkit-tap-highlight-color:transparent;   
}
.fr{
    float: right;
}
.fl{
    float: left;
}
.clear::after{
    display: block;
    content: "";
    clear: both;
}